<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>addProjectServlet</servlet-name>
        <servlet-class>action.Project.addProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProjectServlet</servlet-name>
        <url-pattern>/addProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CompanyManagerServlet</servlet-name>
        <servlet-class>action.Company.CompanyManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyManagerServlet</servlet-name>
        <url-pattern>/CompanyManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addNewsServlet</servlet-name>
        <servlet-class>action.News.addNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewsServlet</servlet-name>
        <url-pattern>/addNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewsManagerServlet</servlet-name>
        <servlet-class>action.News.NewsManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsManagerServlet</servlet-name>
        <url-pattern>/NewsManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProjectManagerServlet</servlet-name>
        <servlet-class>action.Project.ProjectManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectManagerServlet</servlet-name>
        <url-pattern>/ProjectManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newsListServlet</servlet-name>
        <servlet-class>action.News.newsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newsListServlet</servlet-name>
        <url-pattern>/newsListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newsDetailServlet</servlet-name>
        <servlet-class>action.News.newsDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newsDetailServlet</servlet-name>
        <url-pattern>/newsDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>projectListServlet</servlet-name>
        <servlet-class>action.Project.projectListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>projectListServlet</servlet-name>
        <url-pattern>/projectListServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>projectDetailServlet</servlet-name>
        <servlet-class>action.Project.projectDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>projectDetailServlet</servlet-name>
        <url-pattern>/projectDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>action.User.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserManagerServlet</servlet-name>
        <servlet-class>action.User.UserManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManagerServlet</servlet-name>
        <url-pattern>/UserManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>action.User.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>action.User.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeServlet</servlet-name>
        <servlet-class>action.User.ChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeServlet</servlet-name>
        <url-pattern>/ChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GovernmentManagerServlet</servlet-name>
        <servlet-class>action.User.GovernmentManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GovernmentManagerServlet</servlet-name>
        <url-pattern>/GovernmentManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>bidProjectServlet</servlet-name>
        <servlet-class>action.Bid.bidProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bidProjectServlet</servlet-name>
        <url-pattern>/bidProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BiddingManagerServlet</servlet-name>
        <servlet-class>action.Bid.BiddingManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BiddingManagerServlet</servlet-name>
        <url-pattern>/BiddingManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>denyApplyServlet</servlet-name>
        <servlet-class>action.Bid.denyApplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>denyApplyServlet</servlet-name>
        <url-pattern>/denyApplyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>confirmProjectServlet</servlet-name>
        <servlet-class>action.Bid.confirmProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirmProjectServlet</servlet-name>
        <url-pattern>/confirmProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>changeCompanyServlet</servlet-name>
        <servlet-class>action.Company.changeCompanyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeCompanyServlet</servlet-name>
        <url-pattern>/changeCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>changeUserServlet</servlet-name>
        <servlet-class>action.User.changeUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeUserServlet</servlet-name>
        <url-pattern>/changeUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>changeProjectServlet</servlet-name>
        <servlet-class>action.Project.changeProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeProjectServlet</servlet-name>
        <url-pattern>/changeProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>changeNewsServlet</servlet-name>
        <servlet-class>action.News.changeNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeNewsServlet</servlet-name>
        <url-pattern>/changeNewsServlet</url-pattern>
    </servlet-mapping>
</web-app>